<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}" layout:with="layoutClass='admin-body'">
<th:block layout:fragment="head">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</th:block>
<section layout:fragment="content">
    <div class="admin-wrapper">
        <header class="admin-header">
            <h1>Panel de administración</h1>
            <a class="admin-back" th:href="@{/}">Volver al sitio</a>
        </header>

        <section class="admin-metrics">
            <div class="admin-metrics__stats">
                <th:block th:replace="~{fragments/admin :: kpi('Servicios publicados', ${cardCount}, @{/admin/servicios})}"></th:block>
                <th:block th:replace="~{fragments/admin :: kpi('Secciones activas', ${portalTileCount}, @{/admin/portal-tiles})}"></th:block>
            </div>
            <th:block th:replace="~{fragments/admin :: activityChart(${activityTrend})}"></th:block>
        </section>

    </div>
</section>
<th:block layout:fragment="footer-scripts">
    <script th:src="@{/js/admin.js}"></script>
</th:block>
</html>
